---
tags: project
title: Icicle Dodging Simulator
slug: icicle-game
description: An HTML5 survival game. Built with Phaser.io. University Project.
filters: [dev]
status: Complete
client: Drexel University
tools: [Sketch, Adobe Suite]
tech: [HTML, CSS, Vanilla JS, Phaser.io]
images: 
    - 
        uri: mid-game
        alt: Dodge as many icicles as you can in two minutes!
        type: laptop
    - 
        uri: start-screen
        alt: Use the left and right arrow keys to move
        type: laptop
    - 
        uri: win-screen
        alt: Screen shown if user is hit three times or less in two minutes
        type: laptop
    
---
{% extends "layouts/project.njk" %}

{% block title %}{{title}}
{% endblock %}

{% block projectContent %}
    <div id="text-content">
        <p>This was a project for a class about making games in HTML5, using the Free Open Source (FOSS) version of Phaser. The requirements were that it had to have a two minute timer, a win state, a lose state, and some audio. I feel like the game would probably be more fun as an infinite survival game where the icicles reach ridiculous speeds, but client requirements are king.</p>
        <p>I remember making sprites from revised SVGs from the Noun Project, and writing some scaling in JS to make the icicles fall at semi-random rates, and slightly increasing gravity rate as the game progresses. I don't remember too much about the development of this project, but looking back now, it's cute and surprisingly fun.</p>
        <p>Give it a whirl and see how many icicles you can dodge in two minutes. <a href="https://benschenerman.com/idm245/final" target="blank" rel="noopener noreferrer">Play Icicle Dodging Simulator</a>.</p>
    </div>
{% endblock %}
