---
tags: project
title: Icicle Dodging Simulator
slug: icicle-game
description: An HTML5 survival game. Built with Phaser.io. University Project.
filters: [dev]
status: Complete
client: Drexel University
tools: [Sketch, Adobe Suite]
tech: [HTML, CSS, Vanilla JS, Phaser.io]
link: https://benschenerman.com/idm245/final
images: 
    - 
        uri: mid-game
        alt: Dodge as many icicles as you can in two minutes!
        type: laptop
    - 
        uri: start-screen
        alt: Use the left and right arrow keys to move
        type: laptop
    - 
        uri: win-screen
        alt: Screen shown if user is hit three times or less in two minutes
        type: laptop
    
---
{% extends "layouts/project.njk" %}

{% block title %}{{title}}
{% endblock %}

{% block projectContent %}
    <div id="text-content">
        <p>This was a project for a class about making games in HTML5, using the FOSS version of <a href="https://phaser.io/docs/2.6.2/index" target="_blank" rel="noopener noreferrer">Phaser</a>. The requirements were that it had to have a two minute timer, a win state, a lose state, and some audio. I feel like the game would probably be more fun as an infinite survival game where the icicles reach ridiculous speeds, but client requirements are king.</p>
        <p>On the development side, I wrote scaling functions in JS to make the icicles fall at semi-random rates, and progressively fall faster as the game clock counts down. For the art side, I made sprites from modified SVGs from the <a href="https://thenounproject.com/" target="_blank" rel="noopener noreferrer">Noun Project</a> and used open source, royalty free audio for the post-game screens. Looking back now, the game is still cute and surprisingly fun.</p>
        <p>Give it a whirl and see how many icicles you can dodge in two minutes. <strong>Note: </strong> supported only in Firefox or Safari. </p>
    </div>
{% endblock %}
