---
tags: project
title: Portfolio 2019
slug: portfolio-2019
description: Online portfolio using a custom Static Site Generator setup. Built with Nunjucks & Gulp. Personal Project.
filters: [ui, dev]
status: Complete
client: Myself
tools: [Sketch, Adobe Suite]
tech: [Nunjucks, Gulp, Bootstrap]
images: 
    - 
        uri: project-page
        alt: Mobile project page with screenshots and short descriptions
        type: mobile
    - 
        uri: project-preview
        alt: Mobile project page with screenshots and short descriptions
        type: mobile
    - 
        uri: project-page
        alt: Individual project page with screenshots and short descriptions
        type: laptop   
    -
        uri: home-page
        alt: Live re-typing of my username into my full name
        type: laptop 
    
---
{% extends "layouts/project.njk" %}

{% block title %}{{title}}
{% endblock %}

{% block projectContent %}
    <div id="text-content">
        <p>My last portfolio iteration was more of a testament to the speed at which I could develop a website, as opposed to my design thinking. I spent considerably more energy on the 2021 portfolio to assure my personality comes through a bit clearer.</p>
        <p>The 2019 portfolio was built with a custom Nunjucks/Javascript Static Site Generator (SSG). There was greater emphasis on optimized code, than presentation of the content. There was no flexibility in the portfolio pages, which was annoying when each project had a different makeup of mobile vs. desktop screenshots. I’ve also since become more invested in User Experience &amp; Research, so I wanted to make sure the current portfolio you’re viewing had a friendlier reading experience.
</p>
    </div>
{% endblock %}
