---
tags: project
date: 2020-09-01
title: Portfolio 2019
slug: portfolio-2019
description: Online portfolio using a custom Static Site Generator setup. Built with Nunjucks & Gulp. Personal Project.
filters: [ui, dev]
status: Complete
client: Myself
tools: [Sketch, Adobe Suite]
tech: [Nunjucks, Gulp, Bootstrap]
images: 
    - 
        uri: project-page
        alt: Mobile project page with screenshots and short descriptions
        type: mobile
    - 
        uri: project-preview
        alt: Mobile project page with screenshots and short descriptions
        type: mobile
    - 
        uri: project-page
        alt: Individual project page with screenshots and short descriptions
        type: laptop   
    -
        uri: home-page
        alt: Live re-typing of my username into my full name
        type: laptop 
    
---
{% extends "layouts/project.njk" %}

{% block title %}{{title}}
{% endblock %}

{% block projectContent %}
    <div id="text-content">
        <p>My last portfolio iteration was more of a testament to the speed at which I could develop a website, as opposed to my design thinking. I spent considerably more energy on the portfolio you’re currently viewing, to assure my personality comes through more clearly.</p>
        <p>The 2019 portfolio was built with a customized Nunjucks/Javascript Static Site Generator (SSG). The build emphasized optimized code, data-driven pages, and cool tricks like the hue animation in the background. I found it frustrating to maintain content or customize project presentation, so I took that lesson into this portfolio, and gave myself the freedom for variable screenshot widths, case study lengths, and metadata.</p>
    </div>
{% endblock %}
