---
tags: project
title: Harry Potter Sleepytime Player
slug: sleepy-potter
description: A website designed to help my friend fall asleep to the Harry Potter audiobooks. Built with React, TailwindCSS, & Bash. Personal Project.
filters: [dev, ui]
status: Released
client: My Friend, My Curiosity
tools: [Sketch]
tech: [React, TailwindCSS, Bash]
images: 
    - 
        uri: affirmation-dark
        alt: A self-affirmation is required to progress
        type: mobile
    - 
        uri: affirmation-light
        alt: A self-affirmation is required to progress
        type: mobile
    - 
        uri: player-dark
        alt: Audio player on mobile
        type: mobile
    - 
        uri: player-light
        alt: Audio player on mobile
        type: mobile
    - 
        uri: player
        alt: Audio player on desktop
        type: laptop

---
{% extends "layouts/project.njk" %}

{% block title %}{{title}}
{% endblock %}

{% block projectContent %}
    <div id="text-content">

        <h2>Problem</h2>
        <p>I was talking with a close friend about ways we relax before bed, and she disclosed that she’s been listening to the Harry Potter audio books every night for the past five years or so. I tried out one of the free listening websites she sent me (It seems like HP is almost de facto public domain at this point lol), and I was annoyed by the massive ads and tiny touch targets for audio playback. Peeking under the hood, there were also way too many trackers on the page, for a service I knew I could provide fairly easily.</p>

        <h2>Solution</h2>
        <p>Before this project I had only used React in earnest once or twice for some hello world projects, so this was a great opportunity to make something practical with it. This was also my first project with TailwindCSS, and boy was it love at first sight! (It is infinitely better than Bootstrap in almost every way). From there, I converted the audio into a usable format, and added some quality of life improvements to the UI for pre-sleep listening.</p>
        <p>A notable feature I prepended to the audio player is a self-affirmation composer. I discuss this idea more in the <a href="{{site.baseURL}}/projects/ottd">One Thing to Do</a> project page. TLDR: by reinforcing self-compassion prior to habitual behavior, people tend to associate more joy with the behavior. Over long periods of usage the effects can be profound.</p>

        <h2>Feedback</h2>
        <blockquote class="italic pl-4 border-l-2 border-gray-400 my-6">
            <p>do you have any feedback about the harry potter audio book website thing i could toss into my writeup of the project?</p>
            <figcaption class="not-italic">&mdash; Ben</figcaption>
        </blockquote>
        <blockquote class="italic pl-4 border-l-2 border-gray-400 my-6">
            <p>Yes sure! I don’t know what the “seek” button means, and I wish there were a sleep timer shorter than the episode length
                <i class="fas fa-heart text-red-600"></i>
                but otherwise the controls are great!</p>
            <p>And I love the bedtime thought</p>
            <figcaption class="not-italic">&mdash; Ellie</figcaption>
        </blockquote>

        <p>From this feedback I removed the “seek” control, which was meant to allow quick scrubbing through the file but was broken on ios, along with the volume slider. Gone are the days when Webkit used to be the premiere browser engine, lol.</p>
        <p>I also added in a sleep timer which pauses the audio after the timer runs out.</p>
    </div>

{% endblock %}
