---
tags: project
title: WKDU Site Redesign
slug: wkdu-redesign
description: Long term UX research and rebuilding of WKDU web properties from the ground up. Build in React. Pro-bono/personal project.
filters: [ux, ui, dev]
status: pre-alpha
client: WKDU
tools: [Figma, Sketch]
tech: [React, Rough.js]
images: 
    -
        uri: handdrawn-concept
        alt: Handdrawn component sketch concept for new aesthetic
        type: laptop 
    - 
        uri: geometric-concept
        alt: Geometric component sketch concept for new aesthetic
        type: laptop
    - 
        uri: schedule-concept
        alt: Schedule view concept for minimum viable alpha
        type: mobile
    - 
        uri: menu-concept
        alt: Mobile menu concept for minimum viable alpha
        type: mobile
    - 
        uri: mobile-concepts
        alt: Early concepts for new aesthetic
        type: laptop
    - 
        uri: presentation-pillars
        alt: Aesthetic priorities as found by surveys and interviews
        type: laptop
    
---
{% extends "layouts/project.njk" %}

{% block title %}{{title}}
{% endblock %}

{% block projectContent %}
    <div id="text-content">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad asperiores eligendi accusantium error blanditiis? Tempore et voluptatum qui libero officiis earum, necessitatibus dolor dolorem provident cumque nulla odit quod cupiditate?</p>
    </div>
{% endblock %}
