{% extends "layouts/default.njk" %}
{% block title %}b7s9 | Ben Schenerman
{% endblock %}
{% block content %}
    <div class="hidden lg:block lg:col-start-1 lg:col-span-3 xl:col-start-2 xl:col-span-2">
        <div class="business relative block mx-auto h-64 w-64  my-12">
            <img src="{{ site.baseURL }}/assets/images/about/business-ben.jpg" alt="Ben Schenerman headshot" class="absolute top-0 rounded-2xl z-10">
                <div class="absolute h-64 w-64  transform sm:skew-y-0 sm:-rotate-6 rounded-2xl"></div>
            </div>
            <div class="chef relative block mx-auto h-64 w-64 my-12">
                <img src="{{ site.baseURL }}/assets/images/about/chef-ben.jpg" alt="Ben Schenerman... the chef" class="absolute top-0 rounded-2xl z-10">
                    <div class="absolute h-64 w-64 transform sm:skew-y-0 sm:-rotate-6 rounded-2xl"></div>
                </div>
            </div>
            <div class="col-start-1 col-span-6 lg:col-start-5 lg:col-span-6">
                <header class="mb-4 lg:mt-12">
                    <h1 class="text-4xl title-primary">Ben Schenerman</h1>
                    <span class="text-lg text-gray-600">b7s9</span>
                </header>
                <p>I am a Front-End web developer, User Interface designer (UI) and User Experience researcher (UX), Musician, and Audio Engineer. I enjoy being curious about perception, mental models and environmental factors. Most recently, I’ve been interested in applying attachment theory to understand how our relationships with technology are impacted by insecurity.</p>
                <p>I have experience designing dynamic apps, static sites, email blasts, and more, with companies in advertising, finance and public works. I've worked with most forms of JavaScript, including modern MVC's such as Angular, React and Vue. I'm familiar with a variety of applied social science concepts which I employ regularly in my UX research and UI designs. I am familiar with contemporary UI design tools including Figma, Sketch, Balsamiq, the Adobe suite, and Affinity suite.</p>
                <p>In my spare time, I enjoy baking breads and desserts, recording music, and swing dancing.</p>
                <div class="lg:hidden">
                    <div class="business relative block mx-auto h-72 w-72 my-12">
                        <img src="{{ site.baseURL }}/assets/images/about/business-ben.jpg" alt="Ben Schenerman headshot" class="absolute top-0 rounded-2xl z-10">
                            <div class="absolute top-0 h-72 w-72 transform sm:skew-y-0 sm:-rotate-6 rounded-2xl"></div>
                        </div>
                        <div class="chef relative block mx-auto h-72 w-72 my-12">
                            <img src="{{ site.baseURL }}/assets/images/about/chef-ben.jpg" alt="Ben Schenerman... the chef" class="absolute top-0 rounded-2xl z-10">
                                <div class="absolute h-72 w-72 transform sm:skew-y-0 sm:-rotate-6 rounded-2xl"></div>
                            </div>
                        </div>
                        <h2 class="text-2xl mb-4">Projects I’m seeking</h2>
                        <p>
                            <strong>Usability research:
                            </strong>
                            study design, interview/session facilitation, data analytics &amp; insight presentation</p>
                        <p>
                            <strong>Interface Design:
                            </strong>
                            websites, mobile apps, or any interactive/service-based experiences. (If you’re seeking social media, print, or other static design, I can refer you to some amazing designers).</p>
                        <p>
                            <strong>Front-end Dev:
                            </strong>
                            everything web-based, ranging from landing pages, forms and emails, to data-driven experiences, and large-scale services.
                        </p>
                        <p>
                            <strong>Audio:
                            </strong>
                            dialogue editing, mixing, intro/outro music, ambient/textural music</p>
                    </div>
                {% endblock %}
