{% extends "layouts/default.njk" %}
{% from "partials/macros.njk" import siteDescription, canonicalUrl %}

{% block metatags %}
{{siteDescription(site.title + ": " + site.description)}}
{{canonicalUrl(site.baseURL, page.url)}}
{% endblock %}  

{% block title %}b7s9 | Ben Schenerman{% endblock %}

{% block navigation %}
    {% include 'partials/nav.njk' %}
{% endblock %}

{% block content %}
    <div class="hidden lg:block lg:col-start-1 lg:col-span-3 xl:col-start-2 xl:col-span-2">
        <div class="business relative block mx-auto h-64 w-64  my-12">
            <img src="{{ site.baseURL }}/assets/images/about/business-ben.jpg" alt="Ben Schenerman headshot" class="absolute top-0 rounded-2xl z-10">
            <div class="absolute h-64 w-64  transform sm:skew-y-0 sm:-rotate-6 rounded-2xl"></div>
        </div>
        <div class="chef relative block mx-auto h-64 w-64 my-12">
            <img src="{{ site.baseURL }}/assets/images/about/chef-ben.jpg" alt="Ben Schenerman... the chef" class="absolute top-0 rounded-2xl z-10">
            <div class="absolute h-64 w-64 transform sm:skew-y-0 sm:-rotate-6 rounded-2xl"></div>
        </div>
    </div>
    <div class="col-start-1 col-span-6 lg:col-start-5 lg:col-span-6">
        <header class="mb-4 lg:mt-12">
            <h1 class="text-4xl title-primary">Ben Schenerman</h1>
            <span class="text-lg text-gray-600 dark:text-gray-400">b7s9</span>
        </header>
        
        <p class="text-lg"><em>Curious about the development of this website? Check out the <a href="https://github.com/b7s9/portfolio-2021" target="_blank" rel="noopener noreferrer" class="link">Github Repository</a>.</em></p>
        <h2 class="text-2xl mb-4">Who I am</h2>
        <p>Hello, my name is Ben (he/him). I’m a UX Engineer with a side order of music &amp; audio. I thrive in the intersection between digital and social systems. </p>
        <p>I started in the industry as a front-end developer at a creative agency. Since completing my degree in Interactive Digital Media at Drexel University, I have expanded my skillset to include UX research, design and front-end dev. I have put my expertise to the test as a developer/designer in public works, non-commercial radio, and fintech.</p>
        
        <h2 class="text-2xl mb-4">What I’m looking for</h2>
        <p>The best use of my skills is designing for usability, accessibility and overall experience. Bonus points if a project involves audio.</p>
        <p>Whether that entails qualitative interview sessions, Figma wireframes, or React apps—I’m prepared to ask questions, abandon my ideas, and collaborate with cross-functional teams to improve digital products and experiences.</p>
        
        <h2 class="text-2xl mb-4">Skills</h2>
        <p>In addition to my UX Engineering skills, I am also a strong writer, audio engineer and radio producer.</p>
        <p><strong>Research: </strong>usability sessions, qualitative interviews, survey design, A/B testing (feature flags), playtesting card sorting, collaborative design, client discovery sessions, and more.</p>
        <p><strong>Design: </strong>wireframing, prototyping, UI design, typography/color and component systems, and more.</p>
        <p><strong>Front-end Development: </strong>React/Angular/Vue, HTML/CSS/JS (I saw the rise and fall of jQuery), progressive web apps, static site generators, email blasts, content management systems, and a very solid understanding of git (more than most UX folks).</p>
        
        <h2 class="text-2xl mb-4">A bit of personality</h2>
        <p>In my spare time, I enjoy baking breads and desserts, recording music, and swing dancing (come say hi in Rittenhouse Square whenever COVID is over…).</p>
        
        <div class="lg:hidden">
            <div class="business relative block mx-auto h-72 w-72 my-12">
                <img src="{{ site.baseURL }}/assets/images/about/business-ben.jpg" alt="Ben Schenerman headshot" class="absolute top-0 rounded-2xl z-10">
                <div class="absolute top-0 h-72 w-72 transform sm:skew-y-0 sm:-rotate-6 rounded-2xl"></div>
            </div>
            <div class="chef relative block mx-auto h-72 w-72 my-12">
                <img src="{{ site.baseURL }}/assets/images/about/chef-ben.jpg" alt="Ben Schenerman... the chef" class="absolute top-0 rounded-2xl z-10">
                <div class="absolute h-72 w-72 transform sm:skew-y-0 sm:-rotate-6 rounded-2xl"></div>
            </div>
        </div>
    </div>
{% endblock %}
