{% extends "layouts/default.njk" %}

{% block title %}b7s9 | Ben Schenerman{% endblock %}

{% block content %}
    <h1 class="text-4xl title-gradient">Ben Schenerman</h1>
    <span class="text-lg text-gray-600">b7s9</span>
    <p>I am a Front-End web developer, User Interface designer (UI) and User Experience researcher (UX) passionate about delivering accessible interactions and experiences that feel good. Every morning, I strive to be a better listener, so I can better serve users and meet their needs.</p>
    <p>I have experience designing dynamic apps, static sites, email blasts, and more, with companies in advertising, finance and public works. I've worked with most forms of JavaScript, including modern MVC's such as Angular, React and Vue. I'm familiar with a variety of applied social science concepts which I employ regularly in my UX research and UI designs.</p>
    <p>In my spare time, I enjoy baking breads and desserts, recording music, and swing dancing.</p>

    <h2 class="text-2xl">Ideology</h2>
    <ol >
        <li>Projects are never complete, only abandoned.</li>
        <li>Design is emotional.</li>
        <li>Design is goal-oriented.</li>
        <li>Design is manipulative. Manipulation is usually a good thing.</li>
        <li>Understanding cognitive bias does not make you immune to it.</li>
        <li>The universe is infinite. Human knowledge is not.</li>
        <li>Language evolves over time. See below.</li>
        <li>There are no rules, but there are consequences.</li>
        <li>Emotion is the sum of environmental influence.</li>
        <li>Personality is the sum of relationships.</li>
        <li>Relationships are the result of systems. Systems are the result of power struggle.</li>
        <li>Derived categorizations are tools of oppression.</li>
        <li>Socialism promotes pro-social behavior. Capitalism promotes anti-social behavior.</li>
        <li>All people are extensions of each other.
        </li>
    </ol>
{% endblock %}
