---
images: [left-hand, middle-hand, right-hand]
---
{% extends "layouts/default.njk" %}
{% from "partials/macros.njk" import siteDescription, canonicalUrl %}

{% block metatags %}
{{siteDescription(site.title + ": " + site.description)}}
{{canonicalUrl(site.baseURL, page.url)}}
{% endblock %}  

{% block title %}b7s9 | Ben Schenerman{% endblock %}

{% block content %}
    <main class="col-start-1 col-span-6 lg:col-start-4 lg:col-span-6">
        {# <div class="inline-block">
            {% include 'partials/nav-social.njk'%}
        </div> #}
        <div class="index-title md:mt-12">
            <a href="{{ site.baseURL }}/projects/" class="title-primary my-4 text-7xl font-bold md:text-8xl lg:text-9xl">Design &amp; Audio</a>
            <a href="{{ site.baseURL }}/about/" class="title-secondary my-12 text-5xl md:text-6xl lg:text-7xl ">Ben Schenerman (b7s9)</a>
        </div>



        <div class="hands absolute top-2/3 sm:top-1/2 right-0 origin-center overflow-hidden">
            <img src="{{ site.baseURL }}/assets/images/hands/all-hands.png" alt="all hands" class="anim-target">            
        </div>
    </main>
{% endblock %}
