{% extends "layouts/default.njk" %}

{% block title %}b7s9 | Ben Schenerman{% endblock %}

{% block content %}
    <main>
        <div class="inline-block">
            {% include 'partials/nav-social.njk'%}
        </div>
        <a href="{{ site.baseURL }}/projects/">Design & Audio</a>
        <a href="{{ site.baseURL }}/about/">Ben Schenerman (b7s9)</a>
    </main>
{% endblock %}
