{% extends "layouts/default.njk" %}

{% block title %}b7s9 | Ben Schenerman{% endblock %}

{% block content %}
    <main class="col-start-1 col-span-6 lg:col-start-4 lg:col-span-6">
        {# <div class="inline-block">
            {% include 'partials/nav-social.njk'%}
        </div> #}
        <a href="{{ site.baseURL }}/projects/" class="block my-4 text-3xl font-serif dark:text-gray-200">Design & Audio</a>
        <a href="{{ site.baseURL }}/about/" class="block my-4 text-lg font-serif dark:text-gray-300">Ben Schenerman (b7s9)</a>
    </main>
{% endblock %}
