<div class="anim-toggle block md:inline-block py-2 font-sans cursor-pointer rounded nav-item-color">
    <i class="anim-target text-md mr-2 fas fa-compact-disc animate-spinLong fa-fw"></i>
</div>
<div class="dark-toggle block md:inline-block py-2 font-sans cursor-pointer rounded nav-item-color">
    <i class="text-md mr-2 fas fa-moon fa-fw"></i>
</div>
<div class="light-toggle block md:inline-block py-2 font-sans cursor-pointer rounded nav-item-color">
    <i class="text-md mr-2 fas fa-sun fa-fw"></i>
</div>
<div class="system-toggle block md:inline-block py-2 font-sans cursor-pointer rounded nav-item-color">
    <i class="text-md mr-2 fas fa-desktop fa-fw"></i>
</div>
