<button class="content-prefs-toggle inline-block nav-button nav-item-color" tabindex="1">
    <i class="text-md mr-2 fas fa-font fa-fw"></i>
</button>
<button class="anim-toggle inline-block nav-button nav-item-color" tabindex="1">
    <i class="anim-target text-md mr-2 fas fa-compact-disc animate-spinLong fa-fw"></i>
</button>
<button class="dark-toggle inline-block nav-button nav-item-color " tabindex="1">
    <i class="text-md mr-2 fas fa-moon fa-fw"></i>
</button>
<button class="light-toggle inline-block nav-button nav-item-color" tabindex="1">
    <i class="text-md mr-2 fas fa-sun fa-fw"></i>
</button>
<button class="system-toggle inline-block nav-button nav-item-color" tabindex="1">
    <i class="text-md mr-2 fas fa-desktop fa-fw"></i>
</button>
