<hr class="md:hidden text">
<div class="anim-toggle block md:inline-block py-2 font-sans cursor-pointer rounded text-gray-800 dark:text-gray-300 hover:text-primary-dark dark:hover:text-primary-light">
    <i class="anim-target text-md mr-2 fas fa-compact-disc animate-spinLong fa-fw"></i>
    <span>Toggle Animation</span>
</div>
<div class="dark-toggle block md:inline-block py-2 font-sans cursor-pointer rounded text-gray-800 dark:text-gray-300 hover:text-primary-dark dark:hover:text-primary-light">
    <i class="text-md mr-2 fas fa-moon fa-fw"></i>
    <span class="md:hidden">Dark Mode</span>
</div>
<div class="light-toggle block md:inline-block py-2 font-sans cursor-pointer rounded text-gray-800 dark:text-gray-300 hover:text-primary-dark dark:hover:text-primary-light">
    <i class="text-md mr-2 fas fa-sun fa-fw"></i>
    <span class="md:hidden">Light Mode</span>
</div>
<div class="system-toggle block md:inline-block py-2 font-sans cursor-pointer rounded text-gray-800 dark:text-gray-300 hover:text-primary-dark dark:hover:text-primary-light">
    <i class="text-md mr-2 fas fa-desktop fa-fw"></i>
    <span class="md:hidden">System Default Mode</span>
</div>
