<hr class="md:hidden text"></hr>
<button class="anim-toggle block md:inline-block nav-button nav-item-color" tabindex="1">
    <i class="anim-target text-md mr-2 fas fa-compact-disc animate-spinLong fa-fw"></i>
    <span class="md:hidden">Toggle Animation</span>
</button>
<button class="dark-toggle block md:inline-block nav-button nav-item-color" tabindex="1">
    <i class="text-md mr-2 fas fa-moon fa-fw"></i>
    <span class="md:hidden">Dark Mode</span>
</button>
<button class="light-toggle block md:inline-block nav-button nav-item-color" tabindex="1">
    <i class="text-md mr-2 fas fa-sun fa-fw"></i>
    <span class="md:hidden">Light Mode</span>
</button>
<button class="system-toggle block md:inline-block nav-button nav-item-color" tabindex="1">
    <i class="text-md mr-2 fas fa-desktop fa-fw"></i>
    <span class="md:hidden">System Preference Mode</span>
</button>
