{% if navigation.social %}
    {% for item in navigation.social %}
        {% set externalAttribute = '' %}
        {% set currentAttribute = '' %}
        {% set emailId = '' %}
        {% if item.external %}
            {% set externalAttribute = ' rel="external" target="blank"' %}
        {% endif %}
        {% if page.url == item.url %}
            {% set currentAttribute = ' aria-current="page"' %}
        {% endif %}
        <a class="block md:inline-block py-2 rounded nav-item-color" href="{{ item.url }}" {{ externalAttribute | safe }} {{ currentAttribute | safe }}>
            <i class="text-md mr-2 {{ item.icon }} fa-fw"></i>
            <span>{{ item.text }}</span>
        </a>
    {% endfor %}
{% endif %}
