{% if navigation.items %}
    {% for item in navigation.items %}
        {% set externalAttribute = '' %}
        {% set currentAttribute = '' %}
        {% if item.external %}
            {% set externalAttribute = ' rel="external"' %}
        {% endif %}
        {% if page.url == item.url %}
            {% set currentAttribute = ' aria-current="page"' %}
        {% endif %}
        <a class="inline-block py-2 rounded nav-item-color" href="{{ site.baseURL }}{{ item.url }}" {{ externalAttribute | safe }} {{ currentAttribute | safe }} tabindex="1">
            {{ item.text }}
        </a>
    {% endfor %}
{% endif %}
