<hr class="my-4 border-gray-400 dark:border-gray-500"></hr>
<h4 class="mb-2">More Projects</h4>
<div class="mb-8 space-y-3 font-sans text-xl">
    {%- for project in collections.project -%}
        {% set currentLink = "" %}
        {% if project.url === page.url %}
            {% set currentLink = "aria-current='page'" %}
        {% endif %}
        <a href="{{ site.baseURL }}{{ project.url }}" class="inline-block mr-2 text-gray-700 dark:text-gray-300 hover:underline hover:text-primary-700 dark:hover:text-primary-300" {{currentLink}}>{{ project.data.title }}</a>
        <span class="mr-3 text-gray-400 dark:text-gray-500" aria-hidden="true">•</span>
    {%- endfor -%}
</div>
