<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            {% block title %}b7s9 | Ben Schenerman{% endblock %}
        </title>
        <meta charset="UTF-8"/>
        <link rel="apple-touch-icon" sizes="180x180" href="{{site.baseURL}}/favicon.ico/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="{{site.baseURL}}/favicon.ico/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="{{site.baseURL}}/favicon.ico/favicon-16x16.png">

        <meta name="og:type" content="website"/>
        <meta name="og:title" content="{{site.title}}"/>
        <meta name="og:image" content="{{site.baseURL}}/favicon.ico/android-chrome-192x192.png"/>
        <meta name="og:description" content="{{site.description}}"/>
        <meta name="description" content="{{site.description}}"/>

        <meta http-equiv="x-ua-compatible" content="ie=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover"/>

        <link rel="stylesheet" href="{{site.baseURL}}/style.css?v={% version %}"/>
        <link rel="stylesheet" href="{{site.baseURL}}/assets/fontawesome/css/fontawesome.css?v={% version %}"/>
        <link rel="stylesheet" href="{{site.baseURL}}/assets/fontawesome/css/brands.css?v={% version %}"/>
        <link rel="stylesheet" href="{{site.baseURL}}/assets/fontawesome/css/solid.css?v={% version %}"/>

        {% block head %}{% endblock %}
        <script src="{{site.baseURL}}/js/alpine.js?v={% version %}"></script>
        {# <script src="{{site.baseURL}}/js/TinyGesture.js?v={% version %}"></script> #}
    </head>
    <body class="bg-gray-50">

        {% include '../partials/nav.njk'%}

        <div x-data="{ ux: true, ui: true, dev: true, audio: true }" class="p-4 lg:px-9 pb-9 grid grid-cols-6 gap-x-4 lg:grid-cols-12 lg:gap-x-9">
            {% block content %}
                {{ content | safe }}
            {% endblock %}
        </div>
        <footer class="block fixed w-screen bottom-0 h-auto">
            <div class="h-16 bg-gradient-to-t from-gray-50 z-30"></div>
            {# <div class="absolute left-0 bottom-0 z-20 h-6 lg:h-auto">
                <object data="{{site.baseURL}}/assets/images/left-palm.svg" type="image/svg+xml"></object>
            </div>
            <div class="absolute right-0 bottom-0 z-20 h-6 lg:h-auto">
                <object data="{{site.baseURL}}/assets/images/right-palm.svg" type="image/svg+xml"></object>
            </div> #}
        </footer>
        <script src="{{site.baseURL}}/js/main.js?v={% version %}"></script>
        <script type="module" src="{{site.baseURL}}/js/swipe-handler.js?v={% version %}"></script>
    </body>
</html>
