<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            {% block title %}b7s9 | Ben Schenerman{% endblock %}
        </title>
        <meta charset="UTF-8"/>
        <link rel="apple-touch-icon" sizes="180x180" href="{{site.baseURL}}/favicon.ico/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="{{site.baseURL}}/favicon.ico/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="{{site.baseURL}}/favicon.ico/favicon-16x16.png">

        <meta name="og:type" content="website"/>
        <meta name="og:title" content="{{site.title}}"/>
        <meta name="og:image" content="{{site.baseURL}}/favicon.ico/android-chrome-192x192.png"/>
        <meta name="og:description" content="{{site.description}}"/>
        <meta name="description" content="{{site.description}}"/>

        <meta http-equiv="x-ua-compatible" content="ie=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover"/>

        <link rel="stylesheet" href="{{site.baseURL}}/style.css?v={% version %}"/>
        <link rel="stylesheet" href="{{site.baseURL}}/assets/fontawesome/css/fontawesome.css?v={% version %}"/>
        <link rel="stylesheet" href="{{site.baseURL}}/assets/fontawesome/css/brands.css?v={% version %}"/>
        <link rel="stylesheet" href="{{site.baseURL}}/assets/fontawesome/css/solid.css?v={% version %}"/>

        {% block head %}{% endblock %}
        <script src="{{site.baseURL}}/js/alpine.js?v={% version %}"></script>
        {# <script src="{{site.baseURL}}/js/TinyGesture.js?v={% version %}"></script> #}
    </head>
    <body>
        {% include '../partials/nav.njk'%}
        {% block content %}
            {{ content | safe }}
        {% endblock %}
        <script type="module" src="{{site.baseURL}}/js/swipe-handler.js?v={% version %}"></script>
    </body>
</html>
