{% extends "layouts/default.njk" %}
{% from "partials/macros.njk" import projectGallery, siteDescription, canonicalUrl  %}

{% block metatags %}
{{siteDescription(title + ": " + description)}}
{{canonicalUrl(site.baseURL, page.url)}}
{% endblock %}  

{{ title }}

{% block navigation %}
    {% include 'partials/nav.njk' %}
{% endblock %}

{% block content %}     
    <main class="col-start-1 col-span-6 lg:col-start-5 lg:col-span-6">
        <header class="lg:mt-12">
            <h1 class="text-4xl title-primary">{{ title }}</h1>
            <p class="project-tags mt-2">
                <span class="block font-sans text-lg font-semibold mb-3">
                    {% for f in filters %}
                        <span>{{ filterNames[f].name }}</span>,
                    {% endfor %}
                </span>
                <span class="block mb-1">
                    <strong>Client:</strong>
                    {{ client }}
                </span>
                <span class="block mb-1">
                    <strong>Project Status:</strong>
                    {{ status }}
                </span>
                <span class="block mb-1">
                    <strong>Tools:</strong>
                    {% for tool in tools %}
                        <span>{{ tool }}</span>,
                    {% endfor %}
                </span>
                <span class="block mb-1">
                    <strong>Tech:</strong>
                    {% for techie in tech %}
                        <span>{{ techie }}</span>,
                    {% endfor %}
                </span>
                {% if link %}
                    <span class="block mb-1">
                        <strong>Link:</strong>
                        <a href="{{ link }}" target="_blank" rel="noopener noreferrer" class="text-primary-700 dark:text-primary-light underline hover:no-underline">{{ link }}</a>
                    </span>
                {% endif %}
            </p>
        </header>

        {% block projectContent %}
            <main class="post-content">
                {{ content | safe }}
            </main>
        {% endblock %}
        
    </main>

    {%- if collections.project %}
        {%- set nextPost = collections.project | getNextCollectionItem(page) %}
        {%- set previousPost = collections.project | getPreviousCollectionItem(page) %}
        {%- if nextPost or previousPost %}
        {%- endif %}
    {%- endif %}

    <div class="col-start-1 col-span-6 lg:col-start-2 lg:col-span-2">
        <div class="flex justify-center align-middle space-x-12 mt-8 lg:mt-0 pb-4 lg:fixed lg:inline-block lg:space-x-0 lg:top-1/3 lg:space-y-8 text-gray-800 dark:text-gray-300">
            <a href="{{ site.baseURL }}{{ previousPost.url }}" class="group inline-block w-1/2 cursor-pointer border-l-2 border-primary-500 pl-2">
                <p class="group-hover:text-primary-500">{{ previousPost.data.title }}</p>
                <p class="font-sans text-sm group-hover:text-primary-500">Previous</p>
            </a>
            <br>
            <a href="{{ site.baseURL }}{{ nextPost.url }}" class="group inline-block w-1/2 cursor-pointer border-l-2 border-primary-500 pl-2">
                <p class="text-left group-hover:text-primary-500">{{ nextPost.data.title }}</p>
                <p class="font-sans text-left text-sm group-hover:text-primary-500">Next</p>                    
            </a>
        </div>
    </div>
    <div class="col-start-1 col-span-6 lg:col-start-5 lg:col-span-6">
        {% include 'partials/project-links.njk' %}            
    </div>
{% endblock %}
