@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .anim-none {
        animation: none !important;
    }

    .filter-btn-active {
        @apply border-primary-500 dark:border-primary-400 text-primary-dark dark:text-primary-light font-semibold;
    }

    .indicator-active {
        @apply text-primary-dark dark:text-primary-light;
    }

    .indicator-active p {
        @apply text-primary-dark dark:text-primary-light;
    }

    .content-pref-active {
        @apply text-primary-400;
    }

    .content-pref-active p {
        @apply text-primary-400 underline;
    }
}

@layer base {
    @font-face {
        font-family: Piazzolla;
        font-style: normal;
        font-weight: 100 900;
        font-display: block;
        src: url('assets/fonts/Piazzolla[opsz,wght].woff2') format('woff2-variations'),
            url('assets/fonts/Piazzolla[opsz,wght].woff2') format('woff2');
    }

    @font-face {
        font-family: Piazzolla;
        font-style: italic;
        font-weight: 100 900;
        font-display: block;
        src: url('assets/fonts/Piazzolla-Italic[opsz,wght].woff2') format('woff2-variations'),
            url('assets/fonts/Piazzolla-Italic[opsz,wght].woff2') format('woff2');
    }

    @font-face {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        src: local(''), url('assets/fonts/inter-v3-latin-regular.woff2') format('woff2'),
            url('assets/fonts/inter-v3-latin-regular.woff') format('woff');
    }

    @font-face {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        src: local(''), url('assets/fonts/inter-v3-latin-600.woff2') format('woff2'),
            url('assets/fonts/inter-v3-latin-600.woff') format('woff');
    }

    body {
        @apply font-sans;
        font-size: 100%;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    p,
    blockquote,
    figcaption,
    figure,
    ul,
    ol,
    li {
        @apply font-serif text-gray-800 dark:text-gray-50 dark:text-opacity-90;
    }

    h1 {
        font-size: 3rem;
        font-weight: 800;
    }

    h2 {
        font-size: 2.44rem;
        font-weight: 600;
        line-height: 1.2;
    }

    h3 {
        font-size: 1.9rem;
        font-weight: 800;
    }

    h4 {
        font-size: 1.56rem;
        font-weight: 600;
    }

    h5 {
        font-size: 1.25rem;
        font-weight: 800;
    }

    p,
    div.p {
        font-size: 1.05rem;
        line-height: 1.4;
        @apply font-serif dark:leading-relaxed;
        margin-bottom: 1.25rem;
    }

    ul,
    ol,
    li {
        @apply dark:leading-relaxed;
    }

    ol {
        @apply list-decimal list-inside;
    }

    div.p ol li {
        @apply mb-4;
    }

    small {
        font-size: 0.825rem;
        line-height: 1;
    }

    code {
        @apply font-mono text-primary-700 dark:text-primary-300 rounded;
    }

    main a,
    .link {
        @apply font-bold text-primary-700 dark:text-primary-300 underline hover:no-underline;
    }

    nav {
        @apply font-sans;
    }

    .hero-previews a {
        @apply block transition-shadow duration-300 hover:ring-4 active:ring-4 ring-primary-700;
    }

    .index-title a {
        @apply block break-words font-serif underline hover:no-underline;
    }

    .title-secondary {
        @apply text-gray-800 dark:text-gray-200 hover:text-gray-600 dark:hover:text-gray-400;
    }

    .title-primary {
        @apply text-primary-dark dark:text-primary-light hover:text-primary-600 dark:hover:text-primary-500;
    }

    .title-gradient {
        @apply bg-gradient-to-b from-primary-light to-primary-dark dark:from-green-200 dark:to-primary-light;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .nav-item-color {
        @apply text-gray-800 dark:text-gray-300 hover:text-primary-dark dark:hover:text-primary-light focus:border-b-2 border-primary-600;
    }

    .nav-button {
        @apply py-2 font-sans cursor-pointer rounded;
    }

    a[aria-current] {
        @apply text-gray-400 dark:text-gray-500;
    }

    .business div {
        background-color: #779e6d;
    }
    .chef div {
        background-color: #dbd8d0;
    }

    .hands img {
        @apply inline-block h-56 sm:h-64 md:h-96 transform -rotate-90 translate-x-14;
        /* max-width: 25%; */
    }

    main {
        @apply sm:mx-12 sm:my-6 lg:mx-0;
    }
    main h2 {
        @apply mb-3 mt-9 sm:mt-14;
    }
    .post-content ul,
    .post-content ol {
        @apply md:list-outside;
    }
    .post-content ol li,
    .post-content ul li {
        @apply mb-1;
    }
    .post-content ol li::marker,
    .post-content ul li::marker {
        @apply text-primary-500;
    }

    /* @media screen and (min-width: 480px;) {
        .post-content ol {
            counter-reset: li;
            list-style: none;
        }
        .post-content ol li {
            counter-increment: li;
        }
        .post-content ol li::before {
            content: counter(li);
            display: inline-block;
            width: 1em;
            margin-left: -2em;
            margin-right: 1em;
            text-align: right;
            direction: rtl;
        }
    }*/
    .post-content img {
        /* display: inline-block; */
        @apply my-12;
        max-height: 540px;
        max-width: 100%;
    }
}
