@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .anim-none {
        animation: none !important;
    }

    .filter-btn-active {
        @apply border-primary-500 text-primary-dark dark:text-primary-light;
    }

    .indicator-active {
        @apply text-primary-dark dark:text-primary-light;
    }
}

@layer base {
    @font-face {
        font-family: Piazzolla;
        font-style: normal;
        font-weight: 100 900;
        font-display: block;
        src: url("assets/fonts/Piazzolla[opsz,wght].woff2") format("woff2-variations"),
            url("assets/fonts/Piazzolla[opsz,wght].woff2") format("woff2");
    }

    @font-face {
        font-family: Piazzolla;
        font-style: italic;
        font-weight: 100 900;
        font-display: block;
        src: url("assets/fonts/Piazzolla-Italic[opsz,wght].woff2") format("woff2-variations"),
            url("assets/fonts/Piazzolla-Italic[opsz,wght].woff2") format("woff2");
    }

    @font-face {
        font-family: "Overpass";
        font-style: normal;
        font-weight: 400;
        src: url("assets/fonts/overpass-v5-latin-regular.woff2") format("woff2"),
            url("assets/fonts/overpass-v5-latin-regular.woff") format("woff");
    }

    body {
        @apply font-sans;
        font-size: 100%;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    p,
    blockquote,
    figcaption,
    figure,
    ul,
    ol,
    li {
        @apply font-serif text-gray-900 dark:text-gray-50;
    }

    h1 {
        font-size: 3rem;
        font-weight: 800;
    }

    h2 {
        font-size: 2.44rem;
        font-weight: 300;
    }

    h3 {
        font-size: 1.9rem;
        font-weight: 800;
    }

    h4 {
        font-size: 1.56rem;
        font-weight: 600;
    }

    h5 {
        font-size: 1.25rem;
        font-weight: 800;
    }

    p, div.p {
        font-size: 1.05rem;
        line-height: 1.4;
        @apply font-serif dark:leading-relaxed dark:text-gray-100;
        margin-bottom: 1.25rem;
    }

    ul, ol, li {
        @apply dark:leading-relaxed;
    }

    ol {
        @apply list-decimal list-inside;
    }

    div.p ol li {
        @apply mb-4;
    }

    small {
        font-size: 0.825rem;
        line-height: 1;
    }

    code {
        @apply font-mono text-primary-700 dark:text-primary-300 rounded;
    }

    #text-content a {
        @apply font-bold text-primary-700 dark:text-primary-300 hover:underline;
    }

    nav {
        @apply font-sans;
    }

    .index-title a {
        @apply block break-words font-serif hover:underline;
    }

    .title-secondary {
        @apply text-gray-800 dark:text-gray-200 hover:text-gray-600 dark:hover:text-gray-400;
    }

    .title-primary {
        @apply text-primary-dark dark:text-primary-light hover:text-primary-600 dark:hover:text-primary-500;
    }

    .title-gradient {
        @apply bg-gradient-to-b from-primary-light to-primary-dark dark:from-green-200 dark:to-primary-light;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .nav-item-color {
        @apply text-gray-800 dark:text-gray-300 hover:text-primary-dark dark:hover:text-primary-light;
    }

    .business div {
        background-color: #779E6D;
    }
    .chef div {
        background-color: #DBD8D0;
    }

    .hands img {
        @apply inline-block h-56 sm:h-64 md:h-96 transform -rotate-90 translate-x-14;
        /* max-width: 25%; */
    }
    /* .hands img:nth-child(1){
        @apply animate-push lg:h-44;
    }
    .hands img:nth-child(2){
        @apply animate-pushAlt lg:h-64;
    }
    .hands img:nth-child(3){
        @apply animate-pushInverse lg:h-56;
    } */
}
